<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <!-- ADDED: Viewport meta tag for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samir Khaksar - Projects</title>
    <link rel='stylesheet'  href="/stylesheets/Main.css">
    <link rel='stylesheet'  media="(max-width: 600px)" href="/stylesheets/mobile.css">
    <link rel='stylesheet'  media="(min-width: 601px) and (max-width: 1024px)" href="/stylesheets/tablet.css">
    <link rel='stylesheet'  media="(min-width: 601px) and (max-width: 1024px)" href="/stylesheets/laptop.css">
    <link href="bootstrap/dist/css/bootstrap.min.css" rel = 'stylesheet'>
    <link href="/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <h1>My Projects</h1>
        <nav>
            <ul>
                <li> <a href="/home">Home</a></li>
                <li> <a href="about">About Me</a></li>
                <li> <a href="project"> Projects</a></li>
                <li> <a href="contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Projects </h2>
        
        <h3>Project 1: Pet Clinic Management System</h3>
        <p>Developed a comprehensive management system for a fictional pet clinic, improving the management of pet records, appointments, and billing processes. Implemented object-oriented programming concepts including classes, inheritance, and polymorphism.</p>
        
        <h3>Project 2: Cinema Booking System</h3>
        <p>- Developed a Tkinter-based GUI application using object-oriented programming to manage movie bookings, seat availability, and admin controls. Implemented real-time seat updates and user-friendly interfaces for smooth functionality. </p>

        <h3>Project 3: Networking Database</h3>
        <p> Worked on WireShark, Packet Tracer, and SecureCRT and configured IPv4 and IPv6 addresses,      </p>

        <h4> Project 4: Case Study </h4>
            Completed a case study on visualizing live networks and ip's using WireShark, then locating the Source and Destination addresses.
        
    </main>
    
    <footer>
        <h5>By Samir Khaksar, 2025 | Email: samir.khaksar@ontariotechu.net</h5>
    </footer>
</div>
</body>
</html>